@import "../../modules/all";

@font-face {
  font-family: 'Icomoon';
  src: url($icon-moon-url + '.eot');
  src: url($icon-moon-url + '.eot?#iefix') format('embedded-opentype'),
  url($icon-moon-url + '.woff') format('woff'),
  url($icon-moon-url + '.ttf') format('truetype'),
  url($icon-moon-url + '.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SimpleLineIcons';
  src: url($simple-line-icon-url + '.eot');
  src: url($simple-line-icon-url + '.eot?#iefix') format('embedded-opentype'),
  url($simple-line-icon-url + '.woff') format('woff'),
  url($simple-line-icon-url + '.ttf') format('truetype'),
  url($simple-line-icon-url + '.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-icon-moon[data-icon]::before {
  font-family: 'Icomoon', sans-serif;
  content: attr(data-icon);
}

.font-simple-line-icon[data-icon]::before {
  font-family: 'SimpleLineIcons', sans-serif;
  content: attr(data-icon);
}

.icon--default {
  @extend %icon--default;
}

.icon--large {
  @extend %icon--large;
}

.icon--medium {
  @extend %icon--medium;
}

.icon--black {
  color: black;
}