
@import "../base";

.nav-bar--fixed {
  @extend %display-flex;
  @extend %flex--row--wrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $nav-bar__background--color-white;
  position: fixed;
  width: 100%;
  height: $nav-bar--height;
  color: $nav-bar__logo-default-color;
  z-index: 10000;
}

.nav-bar__logo--left-fixed {
  @extend %nav-bar__element;
  margin-right: auto;
  font-size: $nav-bar__logo--default-font-size;
  font-weight: bolder;
  padding-left: 5%;
  letter-spacing: 2px;

  > .nav-bar--red {
    color: $nav-bar__logo--span-color;
  }
}

.nav-bar__list--right {
  @extend %nav-bar__element;
  padding-right: 5%;
}

.nav-bar__link {

  &--default {
    @extend %link;
  }

  &--red-circle-border {
    @extend %link;
    padding: 4px 10px;
    border: 2px solid $nav-bar__link--border-color;
    @include border-radius-prefix(20px);
  }

  &--toggle {
    @extend %link;
    display: none;
  }
}

%nav-bar__element {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}