
@import "../../modules/all";

.explore-section {
  font-size: 80%;

  > * {
    @extend %display-flex;

    > * {
      @include flex-prefix(1 100%);
    }
  }

  .explore-section--upper {
    background-color: $explore--upper-background-color;
  }

  .explore-section--lower {
    background-color: $explore--lower-background-color;
  }

}

.explore-section:target {
  .explore-section__intro-article {
    @include animation(slideUpFixedHeight 1s)
  }
  .explore-section--lower {
    @include animation(articleSlideSide 1.25s)
  }
}

.explore-section--upper {
  @extend %flex--perfect-centering;

  .explore-section__intro-article {
    @extend %introduction-article--upper;
    @extend %introduction--article-size;
  }
}

.explore-section--lower {
  @extend %flex--row--wrap;
  @extend %flex--horizontally;
  padding-bottom: 50px;

  .explore-section__image--main {
    @extend %image--default;
    margin: 0 auto;
    padding: 40px 10px;
  }

  .explore-section__article-group {
    margin-top: 0;
    margin-left: 5px;
  }

  .explore-section__article--typical {
    @extend %typical-article;
    @extend %typical-article--size;
    width: 100%;
    margin-bottom: 50px;

    .article__header > span {
      margin-right: 10px;
      font-weight: normal;
      font-size: 18px;
    }
  }
}



