@import "../../modules/all";

.home-section {
  @extend %display-flex;
  height: 100%;
  background-color: $home__background--color;
  @include animation(fadeIn 2s);

  &:target > * {
    @include animation(slideUp 0.75s)
  }
}

.home-section__article {
  @extend %home-section__intro-article;
  margin: auto;

  > .home-section__button-group > * {
    @extend %button;
    font-size: 15px;
    text-transform: none;
  }
}

.home-section__button-group {

  .button--large-demo {
    @extend %button--large;
    background-color: $home__background--color;
    border: 2px solid $home__header--default-color;
  }

  .button--large-red {
    @extend %button--large;
    background-color: $nav-bar__logo--span-color;
  }
}