@import "../../modules/all";

.pricing-section {
  height: auto;
  background-color: $pricing__background--color;

  > * {
    @extend %display-flex;
  }
}

.pricing-section--upper {
  @extend %flex--perfect-centering;

  .pricing-section__intro-article {
    @extend %introduction-article--upper;
    @extend %introduction--article-size;
  }
}

.pricing-section--intermediate {
  @extend %flex--row--wrap;
  @extend %flex--horizontally;

  > * {
    margin: 10px;
  }

  .pricing-section__article--vertical {
    @extend %vertical-article;
    @extend %vertical-article--size;

    .vertical-article__header {
      font-size: 13px;
    }
  }

  .pricing-section__price-tag {
    color : #6d6d6d;
    letter-spacing: 2px;
    text-transform: uppercase;

    > .price-tag {
      font-size: 60px;
      padding-right: 5px;
    }

    > .icon-money {
      font-size: 30px;
      font-weight: bold;
      margin: 5px;
      top: -25px;
      position: relative;
      z-index: 3;
    }
  }

  .vertical-article__button {

    &--default {
      @extend %button;
      @extend %button--small;
    }

    &--red {
      @extend %button;
      @extend %button--small;
      @extend %button--red;
    }
  }
}

.pricing-section--lower {
  @extend %flex--horizontally;

  > .paragraph--lower {
    width: 530px;
    margin: 50px 0 50px 0;
  }
}