
@import "../../modules/all";

.service-section {
  height: auto;
  background-color: $service__background--color;

  > * {
    @extend %display-flex;
  }
}

.service-section--upper {
  @extend %flex--perfect-centering;

  .service-section__intro-article {
    @extend %introduction-article--upper;
    @extend %introduction--article-size;
  }
}

.service-section--intermediate {
  @extend %flex--row--wrap;
  @extend %flex--horizontally;

  .service-section__article--typical {
    @extend %typical-article;
    margin: 0 0 0 30px;
    height: 200px;
    width: 380px;
    padding: 0 0 0 80px;
  }

  .font-simple-line-icon,
  .font-icon-moon {
    position: relative;
    left: -70px;
    top: -160px;
  }
}

.service-section--lower {
  margin: 20px 0 50px 0;

  .lower-service__button--blue {
    @extend %button;
    @extend %button--small;

    margin: 0 auto;
  }
}