@import "../../modules/all";

.team-section {
  font-size: 80%;
  height: auto;
  background-color: $team__background--color;

  > * {
    @extend %display-flex;

    > * {
      @include flex-prefix(1 100%);
    }
  }
}

.team-section:target {
  .team-section--lower {
    @include animation(slideUpFixedHeight 1s)
  }
}

.team-section--upper {
  @extend %flex--perfect-centering;

  .team-section__intro-article {
    @extend %introduction-article--upper;
    @extend %introduction--article-size;
  }
}

.team-section--lower {
  @extend %flex--row--wrap;
  @extend %flex--horizontally;
  padding-bottom: 30px;

  .team-section__info-card {
    margin: 10px 15px;
    height: 450px;

    .avatar-image--rounded {
      @extend %image--default;
      @extend %image--rounded;
      width: 150px;
      height: 150px;
      border: 15px solid $team__background--color;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 2;
    }

    .team-section__article--vertical {
      @extend %vertical-article;
      padding-top: 30px;
      width: 100%;
      height: 360px;
      position: relative;
      top: -70px;
      z-index: 1;
    }
  }
}

.team-section__article--vertical {

  .vertical-article__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 15px;

    .header__note {
      text-transform: capitalize;
    }
  }

  .icon-group {
    display: inline-block;
    margin-top: 20px;

    > * {
      margin: 5px;
      color: black;
      font-weight: bold;
    }
  }
}
