@import "../../modules/all";

.team-section {
  height: 110%;
  background-color: $team__background--color;

  > * {
    @extend %display-flex;
  }

  .team-section--upper {
    height: 28%;
  }

  .team-section--lower {
    height: 72%;
  }
}

.team-section--upper {
  @extend %flex--perfect-centering;

  .team-section__intro-article {
    @extend %introduction-article--upper;
  }
}

.team-section--lower {
  @extend %flex--row--wrap;
  @extend %flex--horizontally;

  > * {
    margin: 35px 10px;
  }

  .team-section__info-card {

    .avatar-image--rounded {
      @extend %image--default;
      @extend %image--rounded;
      width: 150px;
      height: 150px;
      border: 15px solid $team__background--color;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 2;
    }

    .team-section__article--vertical {
      @extend %vertical-article;
      padding-top: 30px;
      width: 340px;
      height: 360px;
      position: relative;
      top: -70px;
      z-index: 1;
    }

    .icon-group {
      display: inline-block;
      margin-top: 20px;

      > * {
        margin: 5px;
        color: black;
        font-weight: bold;
      }
    }
  }
}

.team-section__article--vertical {

  .vertical-article__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 15px;

    .header__note {
      text-transform: capitalize;
    }
  }
}
