@font-face {
  font-family: 'Icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SimpleLineIcons';
  src: url("../fonts/simple-line-icons/Simple-Line-Icons.eot");
  src: url("../fonts/simple-line-icons/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/simple-line-icons/Simple-Line-Icons.woff") format("woff"), url("../fonts/simple-line-icons/Simple-Line-Icons.ttf") format("truetype"), url("../fonts/simple-line-icons/Simple-Line-Icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

span.font-icon-moon[data-icon]::before {
  font-family: 'Icomoon', sans-serif;
  content: attr(data-icon); }

span.font-simple-line-icon[data-icon]::before {
  font-family: 'SimpleLineIcons', sans-serif;
  content: attr(data-icon); }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #808080; }

.nav-bar__logo--left-fixed, .nav-bar__list--right {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px; }

.nav-bar__link--default, .nav-bar__link--red-circle-border, .nav-bar__link--toggle {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  float: left;
  color: #808080;
  font-size: 15px; }

.nav-bar--fixed {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  color: #000000; }

.nav-bar__logo--left-fixed {
  float: left;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 5%; }
  .nav-bar__logo--left-fixed > .nav-bar--red {
    color: #ff3b30; }

.nav-bar__list--right {
  float: right;
  padding-right: 5%; }

.nav-bar__link--red-circle-border {
  padding: 4px 10px;
  border: 2px solid #ff3b30;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; }

.nav-bar__link--toggle {
  display: none; }

.home-section__article > .home-section__button-group > * {
  background-color: #1fb5f6;
  border: none;
  color: #fefefe;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.home-section__button-group .button--large-demo, .home-section__button-group .button--large-red {
  width: 180px;
  height: 50px; }

.home-section {
  height: 100%;
  background-color: #707374;
  display: flex;
  display: -webkit-flex; }

.home-section__article {
  width: 600px;
  height: 300px;
  margin: auto;
  text-align: center; }
  .home-section__article > .home-section__header {
    font-size: 25px;
    color: #fefefe; }
  .home-section__article > .home-section__paragraph {
    color: #e2e2e3; }
  .home-section__article > .home-section__button-group > * {
    text-transform: none; }

.home-section__button-group .button--large-demo {
  background-color: #707374;
  border: 2px solid #fefefe; }

.home-section__button-group .button--large-red {
  background-color: #ff3b30; }

@media all and (max-width: 475px) {
  .home-section {
    height: 600px; } }

.explore-section {
  height: 100%;
  background-color: #f1f1f1; }

.pricing-section {
  background-color: #f1faff; }

.service-section {
  height: 100%;
  background-color: #ffffff; }

.team-section {
  height: 100%;
  background-color: #f1faff; }

.footer-section {
  height: 100%;
  background-color: #3f5267; }

/*# sourceMappingURL=styles.css.map */
