
//breakpoint
$mobile--max-width: 425px;
$tablet--max-width: 768px;


//navigation bars
$nav-bar--height: 55px;
$nav-bar__background--color-white: #ffffff;
$nav-bar__logo--span-color: #ff3b30;
$nav-bar__link--default-color: #808080;
$nav-bar__link--border-color: #ff3b30;
$nav-bar__link--default-font-size: 17px;
$nav-bar__logo--default-font-size: 22px;