
.explore-section {
  font-size: 100%;

  > * > * {
    @include flex-prefix(none);
  }
}

.explore-section--lower {

  .explore-section__image--main {
    height: 500px;
    width: 680px;
    margin: 50px 0;
    padding: 30px;
  }

  .explore-section__article-group {
    margin: 60px 0 0 10px;
  }

  .explore-section__article--typical {
    width: 310px;
    height: 100px;
  }
}