
.pricing-section {
  font-size: 100%;

  > * > * {
    @include flex-prefix(none);
  }
}

.pricing-section--upper {

  .pricing-section__intro-article {
    > .article__header {
      font-size: 35px;
    }
  }
}

.pricing-section--intermediate .pricing-section__article--vertical {
  margin-bottom: 0;
}

.pricing-section--lower .paragraph--lower {
  padding: 0;
}