
.service-section {
  font-size: 100%;

  .service-section--upper,
  .service-section--intermediate > * {
    @include flex-prefix(none);
  }
}

.service-section--intermediate {

  .service-section__article--typical {
    height: 200px;
    width: 380px;
    margin-left: 30px;
    padding-left: 80px;
  }

  .font-simple-line-icon,
  .font-icon-moon {
    font-size: 45px;
    left: -70px;
    top: -160px;
  }
}

.service-section--lower {
  margin-top: 20px;
}

