
.team-section {
  font-size: 100%;

  > * > * {
    @include flex-prefix(none);
  }
}

.team-section--lower {
  padding-bottom: 0;

  .team-section__info-card {
    height: auto;

    .team-section__article--vertical {
      width: 305px;
    }
  }
}