
@import "../all";

%nav-bar__element {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

%nav-bar__link {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  float: left;
  color: $nav-bar__link--default-color;
  font-size: $nav-bar__link--default-font-size;
}